body {
  background-color: lightgray;
}

.header, .output, .input {
  background-color: rgb(233, 233, 233);
  padding: 15px;
}

h4 {
  color: red;
}

h5 {
  color: green;
}

.tab-pane {
  background-color: white;
}