body {
  background-color: lightgray;
}

.header, .output, .input {
  background-color: rgb(245, 245, 245);
  padding: 15px;
}

h5 {
  color: rgba(255, 0, 0, 0.7);
}

h6 {
  color: rgba(0, 128, 0, 0.7);
}

.tab-pane {
  background-color: white;
}